{
    "LogPrefix": "TensorEngineLog/TE",
    "ConsoleLogEnable": false,
    "DebugLogEnable": false,
    "CommonLogRotationSize": 256,
    "ChannelLogRotationSize": 256,
    "LogMaxSize": 1024,

    "PlatformInitialize": true,
    "PlatformRelease": true,

    "PluginPrefix": "Hisi",
    "InternalPluginPrefix": "HisiPlugin",

    "GlobalEngineType": "ThreadedEngine",

    "GlobalExecEnable": true,
    "GlobalExecQueueSize": 5000,
    "GlobalExecThreadNum": 1,

    "DeviceExecEnable": false,
    "DeviceQueueSize": 5000,
    "SupportDeviceNum": 8,

    "SimulationServerIP": "192.180.40.35",
    "SimulationServerCMDPort": "8888",
    "SimulationServerResultPort": "8889",
    "SimulationEncodeEnable": false
}