log_file: "Algolog/Algolog"
circular_buffer_size: 40
engine_queue_size: 10000
detector_batch_size: 2
reid_batch_size: 40
property_person_batch_size: 2
property_vehicle_batch_size: 2
property_nonvehicle_batch_size: 2
property_fcn_batch_size: 2
search_person_batch_size: 2
search_vehicle_batch_size: 2
search_other_batch_size: 2
object_min_width: 25
object_min_height: 25
object_min_speed: 0
object_max_analysis_num:32
debug_log: false
skipnum: 1
confidence: 0.5
block_interval: 5
object_static_filter:true
person_max_unmatch_age: 5
person_aff_thres: 0.95
person_quality_thres: 0.6
person_space_weight: 0.5
person_shape_weight: 1.0
person_quality_weight: 0.5
vehicle_max_unmatch_age: 5
vehicle_aff_thres: 0.9
vehicle_quality_thres: 0.6
vehicle_space_weight: 0.5
vehicle_shape_weight: 1.0
vehicle_quality_weight: 0.5
nonvehicle_max_unmatch_age: 5
nonvehicle_aff_thres: 0.98
nonvehicle_quality_thres: 0.6
nonvehicle_space_weight: 0.3
nonvehicle_shape_weight: 0.7
nonvehicle_quality_weight: 0.5
property_person_min_width: 32
property_person_min_height: 64
property_nonvehicle_min_width: 30
property_nonvehicle_min_height: 90
property_vehicle_min_width: 64
property_vehicle_min_height: 64
property_vehicle_min_area: 5000
property_unknow: true
eval_mode: false