debug_log: 1
lower_limit_face_quality: 0.1
pre_upload_face_quality: 0.5
pre_upload_quality_ratio: 0.5
wzr_threshold: 0.95

maxface: 300
minface: 45
alarm_facesize: 55

analysis_nations: 1
enhanced_import: 0
size_filter: 0
age_filter: 0
sex_filter: 0

age_upper_limit: 66
age_lower_limit: 10
sex_filter_type: 1