log_file: "./FSlog/FSlog"
workpath: "/opt/wise/ia12k/workspace/FaceAnalysis/"

business_type: "SuTongMen"
chip_type: "hi3516cv500"
Import_Method: 2
Stream_Method: 1
Simple_Method: 2

detectAlgo: "faceDetYOLO_HISI"
detectModel: "model/Yolo_0808_512_r37_3516x"

detector2_Algo: "faceDetYOLO_HISI"
detector2_Model: "model/faceDetect_yolo_h512_w288_r37_3516x"

alignAlgo: "Classification_HISI"
alignModel: "model/faceAlign5_Model_r37_3516x"

verifyAlgo: "Classification_HISI"
verifyModel: "model/faceRec_4110_fc256_Model_r37_3516x"
simple_featuresize: 256
simple_modelversion: "10041000"

current_featuresize: 256
accessor_blocksize: 1024

qualityAlgo: "Classification_HISI"
qualityModel: "model/faceQuality_Model_hign_r37_3516x"

qualityDetAlgo: "Classification_HISI"
qualityDetModel: "model/Quality_Angle_71000_005_r37_3516x"

attributeAlgo:"Classification_HISI"
attributeModel:"model/FaceAttr_dv300_int8_ry41_4504"

livenessAlgo:"Classification_HISI"
livenessModel:"model/STM_liveness_Model_spe_r37_3516x"

liveness_1frame_Algo:"Classification_HISI"
liveness_1frame_Model:"model/Liveness_1frame_Model_1004_33w_merge_specify_r37_3516x"

liveness_3frame_Algo:"VehicleType_HISI"
liveness_3frame_Model:"model/Liveness_3frame_Model_r37_3516x"

binocularliveAlgo:"Classification_HISI"
binocularliveModel:"model/BinocularLive_Model_2007_r37_3516x"

safehelmetAlgo:"Classification_HISI"
safehelmetModel:"model/safeHelmet_Model_v0104_hign_r37_3516x"

angleLabelAlgo:"Classification_HISI"
angleLabelModel:"model/anglelabel_skew_v1_hign_r37_3516x"

detector_batch_size: 3
align_batchsize: 3
verify_batchsize: 3
verify_complex_batchsize: 3
quality_batchsize: 3
liveness_batchsize: 3
liveness_1frame_batchsize: 3
liveness_3frame_batchsize: 3
qualitydet_batchsize: 3
wzrDetector_batchsize: 3
binocularlive_batchsize: 3
safehelmet_batchsize: 3
detector2_batch_size: 3
anglelabel_batch_size: 3

circular_buffer_size: 60
engine_queue_size: 1000
max_tracking_faces: 24
force_capture_interval: 1000
skipnum: 0
old_featuresize: 256
confidence: 0.5
detectorInputWidth: 512
detectorInputHeight: 288
detect_scale_ratio: 0.9
quality: 20
confidence_import: 0.8
compare_adjust_factor: 0.02